#addToHomeScreen {
    z-index: 9999;
    -webkit-user-select: none;
    user-select: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    touch-callout: none;
    width: 240px;
    font-size: 15px;
    text-align: left;
    font-family: helvetica;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #fff), color-stop(0.02, #eee), color-stop(0.98, #ccc), color-stop(1, #a3a3a3));
    border: 1px solid #505050;
    -webkit-border-radius: 8px;
    -webkit-background-clip: padding-box;
    color: #333;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
    line-height: 130%;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    padding: 12px 14px;
}

#addToHomeScreen.addToHomeIpad {
    width: 268px;
    font-size: 18px;
    padding: 14px;
}

#addToHomeScreen.addToHomeWide {
    width: 296px;
}

#addToHomeScreen.addToHomeIpad.addToHomeWide {
    width: 320px;
    font-size: 18px;
    padding: 14px;
}

#addToHomeScreen .addToHomeArrow {
    position: absolute;
    background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0, rgba(204, 204, 204, 0)), color-stop(0.4, rgba(204, 204, 204, 0)), color-stop(0.4, #ccc));
    width: 16px;
    height: 16px;
    -webkit-transform: rotateZ(45deg);
    bottom: -9px;
    left: 50%;
    margin-left: -8px;
    -webkit-box-shadow: inset -1px -1px 0 #a9a9a9;
    -webkit-border-bottom-right-radius: 2px;
    border-color: #505050;
    border-style: solid;
    border-width: 0 1px 1px 0;
}

#addToHomeScreen.addToHomeIpad .addToHomeArrow {
    -webkit-transform: rotateZ(-135deg);
    background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0, rgba(238, 238, 238, 0)), color-stop(0.4, rgba(238, 238, 238, 0)), color-stop(0.4, #eee));
    -webkit-box-shadow: inset -1px -1px 0 #fff;
    top: -9px;
    bottom: auto;
    left: 50%;
}

#addToHomeScreen .addToHomeClose {
    -webkit-box-sizing: border-box;
    position: absolute;
    right: 4px;
    top: 4px;
    width: 18px;
    height: 18px;
    line-height: 14px;
    text-align: center;
    text-indent: 1px;
    -webkit-border-radius: 9px;
    background: rgba(0, 0, 0, 0.12);
    color: #707070;
    -webkit-box-shadow: 0 1px 0 #fff;
    font-size: 16px;
}

#addToHomeScreen .addToHomePlus {
    font-weight: 700;
    font-size: 1.3em;
}

#addToHomeScreen .addToHomeShare {
    display: inline-block;
    width: 18px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAPCAQAAABDj1eZAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAUdJREFUKFNtkLtLw1AYxS/qJLhXVKr2ZRulUNtiqgSb3CziICI6ucTFVYcOnaQOFRwUnNTRwUWXgpP/QdHNUEQUHGxofYBTlRs83iZNjKTncOGe7/vx3QchXUWn6FL3jhfKUdCCr5zuifV5oDiHQM+c+CIhiiCSWNu08iq9oHXKLAiqrgR4UXqlOEYZt++ExEL0wW7+OW0G10muLv9gmqfe5FAWKmTMYQYiFL7PYwyLOD8lSjNh2gdnPzMII4QUBxc4OothbAF7GCBKQ0YbSWyPQsIhqvetS+y0ygGMo/KFZfviDvR4AhwgZU9dGYnA0J/6ndc15i3ouYIMcVVUcEXIoOxCeRCfwP8sXBSdjtpUv/1QW+K16kCCIUC4id9Fa0JtkluwVkSfqPL6RwfSDA0aNlx7k/bWgViB7bMS2/1vk5sdsZLN/ALSuL3tylO4RAAAAABJRU5ErkJggg==);
    background-size: 18px 15px;
    text-indent: -9999em;
    overflow: hidden;
}

#addToHomeScreen .addToHomeTouchIcon {
    display: block;
    float: left;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5), inset 0 0 2px rgba(255, 255, 255, 0.9);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5), inset 0 0 2px rgba(255, 255, 255, 0.9);
    background-repeat: no-repeat;
    width: 57px;
    height: 57px;
    -webkit-background-size: 57px 57px;
    background-size: 57px 57px;
    border: 1px solid #333;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    margin: 0 12px 0 0;
}
